*{
    margin: 0;
    padding: 0;
}
body{
    background-color: whitesmoke;
    
}
.container{
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}
.intro{
    background-color: white;
    display: flex;
    font-family: 'Caveat', cursive;
    width: 80%;
    font-size: 25px;
    padding: 50px;
    flex-flow: row;
    margin: auto;
    align-items: center;
}
.intro p{
    padding: 60px 10px 0px 0px;
}
.intro img{
    max-height: 300px;
    border-radius: 5px;
}
header{
    max-height: 150px;
    display: flex;
    background-color: rgb(20, 19, 19);
    flex-direction: column;
}
.titulo{
    padding-left: 25px;
    padding-bottom: 5px;
    /* text-align: center; */
    color: whitesmoke;
    font-family: 'Edu TAS Beginner', cursive;
    font-size: 20px;
}
.titulo h1{
    margin-left: 100px;
}
nav{
    padding-top: 20px;
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: space-around;
}
header a{
    color: aliceblue;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    width: 300px;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    border-radius: 2px;
}
header nav a:hover{
    background-color: whitesmoke;
    color: #050505;
}
.articulos{
    margin: auto;
    display: flex;
    justify-content: center;
    width: 80%;
}
footer{
    background-color: #050505;
    margin-top: auto;
    display: flex;
    justify-content: flex-end;
}
footer p{
    color: whitesmoke;
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
    padding-bottom: 10px;
}
.box{
    display: flex;
    max-height: 400px;
    background-color: white;
}
.box img{
    border-radius: 6px;
}
.strategy{
    background-color: white;
    display: flex;
    font-family: 'Caveat', cursive;
    width: 80%;
    font-size: 25px;
    padding: 20px;
    flex-flow: column;
    margin: auto;
    align-items: center;
    justify-content: center;
}
.strategy ol{
    padding-top: 40px;
}
.strategy article{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.strategy li{
    padding: 20px;
}
.strategy article p{
    width: 700px;
    padding: 10px;
}
.strategy img{
    width: 400px;
    height: 200px;
    border-radius: 6px;
    margin:10px;
}